<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="brand" "text-center">
<image_tag>('favicon-194x194.png')
</div>

</div>
</div>
</div>










<!-- .container

  .row
    .col-xs-12
      .brand.text-center = image_tag 'favicon- 194x194.png'

  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default

          .panel-heading

            h1 Please login to access Tinkerdex

          .panel-body

            = simple_form_for @form, url: session_path do |form|

              = form.input :email
              = form.input :password

              hr

              .text-center = form.button :submit, 'Login', class: 'btn btn-default'
 -->
