<tr>
  <td class='col-md-2'><%= follow_up.created_at.to_date.to_formatted_s(:long) %></td>
  <td class='col-md-2'><%= follow_up.user.name %></td>
  <td class='col-md-8'><%= follow_up.description %></td>
</tr>
