<div class='page-header'>
  <div class='container'>
    <h1>Audit Trail</h1>
  </div>
</div>

<div class="container">
  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h2>All Audits</h2>
    </div>

    <div class='panel-body'>
      <table class='table table-responsive table-striped'>
        <div class='panel-heading'>
          <thead>
            <th>Who</th>
            <th>Event</th>
            <th>Item</th>
          </thead>
        </div>

          <tbody>
            <% @versions.all.each do |version| %>
              <tr>
                <td><%= version.whodunnit.to_i>0? User.find(version.whodunnit.to_i).name : 'unavailable' %></td>
                <td><%= version.event %></td>

                <% if (version.item.is_a? CaseFile) %>
                  <td><%= link_to "Case #{version.item.id}",case_path(version.item) %></td>
                <% else %>
                  <td><%= link_to version.item.description, case_path(version.item.case_file) %></td>
                <% end %>

              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>


