<li class="list-group-item nested-fields">
  <div class="row">

    <div class="col-xs-10">
      <%= f.input :tag_id, label: false do %>
        <%= f.select :tag_id, Tag.all.collect { |tag| [ tag.name, tag.id ] }, include_blank: false %>
      <% end %>
      <%= f.input :description, label: false, input_html: { rows: 5 } %>
    </div>

    <div class="col-xs-2">
      <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-block', data: {confirm: "Are you sure?"} %>
    </div>

  </div>
</li>