<tr>
  <td><%= link_to other.involvable.name, person_path(other.involvable) %></td>
  <td><%= other.involvable.try(:phone) %></td>
  <td><%= other.involvable.try(:email) %></td>
  <td><%= link_to 'Remove', case_involvement_path(other.case_file, other), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %></td>
</tr>
