<div class='page-header'>
  <div class='container'>
    <h1>Case Archives</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h2>All Closed Cases</h2>
    </div>

    <div class='panel-body table-responsive'>
      <table class='table table-default'>
        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Client</th>
            <th>Employer</th>
            <th>Assigned To</th>
          </tr>
        </thead>
        <tbody id='closed-cases'>
          <%= render partial: "cases/case_file", collection: @case_files %>
        </tbody>
      </table>
    </div>

  </div>
</div>
