<script src="assets/jquery.tablesort.js"></script>
<script>
  $(document).on('ready page:load', function() {
    $('table').tablesort();
  });
</script>

<div class='page-header'>
  <div class='container'>
    <h1>Case Archives</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>

    <div class='panel-heading'>
      <h2>All Closed Cases</h2>
    </div>

    <div class='panel-body table-responsive'>
      <table class='table table-default'>
        <thead>
          <tr class="row">
            <th>Reported At<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th class="col-md-2">Case Number<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Case Type<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th class="col-md-3" >Issues<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Assigned To<span class="glyphicon glyphicon-sort" aria-hidden="true"></th>
            <th>Closed At<span class="glyphicon glyphicon-sort" aria-hidden="true"></th>
          </tr>
        </thead>
        <tbody id='closed-cases'>
          <%= render partial: "cases/case_file", collection: @case_files %>
        </tbody>
      </table>
    </div>

  </div>
</div>
