<div class='page-header'>
  <div class='container'>
    <h1>Cases</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
        <% @cases.each do |c| %>

        <%= link_to(case_path(c)) do %>
           <h2> CASE
           </h2>   
          <% end %>
          <p>
            Case_type: <%= c.case_type %>
          </p>

          <p>
            Status: <%= status.status %>
          </p>
                
          <p>Posted on: <%= c.created_at.strftime('%Y-%m-%d') %></p>
          <hr>
        <% end %>
    </div>    
  </div>  
</div>  