<div class='page-header'>
  <div class='container'>
    <h1>Pending Cases</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <table class='table table-default' id='pending-cases'>
        <thead>
          <tr>
            <th>Case Number</th>
            <th>Case Type</th>
            <th>Assigned To</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "cases/case_file", collection: @case_files %>
        </tbody>
      </table>

    </div>
  </div>
</div>
