<script src="assets/jquery.tablesort.js"></script>
<script>
  $(document).on('ready page:load', function() {
    $('table').tablesort();
  });
</script>

<div class='page-header'>
  <div class='container'>
    <h1>Pending Cases</h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <%= simple_form_for @query, as: :search, url: cases_path , method: :get do |form| %>
        <div class='row'>
          <%= form.input :query, as: :string, wrapper_html: { class: 'col-md-9' }, placeholder: 'Passport # or FIN' %>
          <div class="col-md-2 pull-left">
            <br />
            <%= form.submit 'Search', class: 'btn btn-primary btn-block btn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

      <table class='table table-default' id='pending-cases'>
        <thead>
          <tr>
            <th>Reported At<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Case Number<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Case Type<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Issues<span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>Assigned To<span class="glyphicon glyphicon-sort" aria-hidden="true"></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render partial: "cases/case_file", collection: @case_files %>
        </tbody>
      </table>

    </div>
  </div>
</div>
