<div class='page-header'>
  <div class='container'>
    <h1>
      <div class="col-sm-3"> Case Number  
      </div>
      <div class="col-sm-4"> <%= @case.id%>
      </div>

    </h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div>
            <p>
              Case Type: <%= @case.case_type %>
            </p>

            <p>
              Status: <%= @case.status %>
            </p>

         <%= link_to 'Edit Case', edit_case_path(@case) %>
        </div>
     </div>
   </div>
</div>
