<div class='page-header'>    
  <div class="container">
    <h1>All Tags</h1>
    <%= link_to 'New Tag', new_admin_tag_path, class: 'btn btn-primary' %>
  </div>
</div>


<div class='container'>
  <div class='panel panel-default'>
    <ul class='list-group'>
      <%- Tag.traverse do |tag, level| %>
        <li class='list-group-item list-group-item-<%= level %>'>
          <%= tag.name %>
          <%= link_to 'Edit', edit_admin_tag_path(tag), class: 'pull-right' %>
        </li>
      <%- end %>
    </ul>
  </div>
</div>
