<table id='follow-ups' class="table table-default">
  <thead>
    <th>Date</th>
    <th>Updated By</th>
    <th>Description</th>
  </thead>
  <tbody>
    <%= render presenter.follow_ups %>
  </tbody>
</table>
<hr/>

<%- if presenter.case_file.pending? %>
  <%= link_to "Add Follow Up", new_case_follow_up_path(presenter.case_file), class: 'btn btn-success pull-right', remote: true %>
<%- end %>
