<div>
  <p><%= link.filename %></p>
  <p>
    <%= link_to nil, link.url %>
    (<%= link_to 'Destroy', [link.case, link], method: :delete,
        data: {confirm: 'Are you sure?'} %>)
  </p>
</div>
<hr>