body {
  background-color: #f4ebe6;
  border-top: 8px solid #e8b53c; // #b25f2e
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

#flash-messages {
  position: absolute;
  top: 8px;
  width: 100%;
  z-index: 10;
}
