#header {

  .navbar { margin-bottom: 0; }

  .navbar a {
    font-size: 13px;
    padding: 15px 30px;
  }

  .navbar-brand {
    border-right: 1px solid #eee;
    padding: 15px 50px;
    font-weight: bold;
  }

  .navbar .navbar-link {

    display: inline-block;
    padding: 15px;

    img {
      width: 21px;
      opacity: 0.5;
    }

  }

}
