<%= link_to case_path(domestic_worker.case_file) do %>
  <strong><%= domestic_worker.case_file.to_s %></strong>
  <ul class="list-inline">
    <!-- <li>Non-Domestic Worker</li> -->
  </ul>
  <span>Case File</span>
<%- end %>
