/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f4ebe6;
  border-top: 8px solid #e8b53c; // #b25f2e
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.page-header {
  @include gradient-radial(#310834, #0a042b);
  margin: 0 0 25px;
  padding: 50px 0 25px;
  color: white;
}
