<div class='page-header'>
  <div class='container'>
    <h1>New Organization</h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <div class='panel panel-default'>
        <%= simple_form_for @organization do |f| %>

          <div class='panel-heading'>
            <h2>Details</h2>
          </div>

          <div class='panel-body'>
            <%= render partial: 'form', object: f %>
          </div>

          <div class='panel-footer'>
            <%= link_to 'Cancel', organizations_path, class: 'btn btn-default' %>
            <%= f.submit 'Create Record', class: 'btn btn-primary pull-right' %>
          </div>

        <%- end %>
      </div>
    </div>
  </div>
</div>
