
<div>
    <p>
        Name: <%= @organization.name %>
    </p>

    <p>
        Phone: <%= @organization.phone %>
    </p>

    <p>
        Address: <%= @organization.address %>
    </p>
    <p>
        Industry: <%= @organization.industry %>
    </p>
</div>
