<div class='page-header'>
  <div class='container'>
    <h1>Create New User <small>Account creation</small></h1>
  </div>
</div>

<div class='container'>
  <div class='panel panel-default'>
    <%= simple_form_for [:admin, @user] do |f| %>

      <div class='panel-heading'>
        <h2>User Information</h2>
      </div>

      <div class='panel-body'>
        <%= render partial: 'form', object: f %>
      </div>

      <div class='panel-footer'>
        <%= link_to 'Cancel', admin_users_path, class: 'btn btn-default' %>
        <%= f.submit 'Create Record', class: 'btn btn-primary pull-right' %>
      </div>

    <%- end %>
  </div>
</div>
